<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/resources/js/sockjs-0.3.4.min.js}"></script>
    <script th:src="@{/resources/js/stomp.min.js}"></script>
    <script th:src="@{/resources/js/jquery-2.1.1.min.js}"></script>
    <script th:src="@{/resources/bootstrap-3.3.5-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/script.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap-3.3.5-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>
    <script>
         var stomp = Stomp.over(new SockJS("/chat/chat"));
         stomp.connect("guest", "guest", connectCallback, errorCallback);

        $(document).ready(function () {
            $('#sendMessageButton').click(function (e) {
                e.preventDefault();
                var message = new Object();
                message.message = $('#messageInput').val();
                var jsonstr = JSON.stringify(message);
                stomp.send("/app/addMessage", {}, jsonstr);
                return false;
            });
        });

    </script>

</head>
<body>

<div class="container">
    <div class="row" style="margin-bottom: 20px; margin-top: 20px;">
        <a class="col-sm-offset-9" th:href="${page_url}">
            <img class="img-circle" style="height:60px; width: 60px;" alt="text" th:src="${photo_url}"/>
            <span id="userInfo" th:attr="data-id=${vk_user_id}" class="col-xs-offset-0" th:text="${name}"></span>
        </a>
    </div>

    <div class="row chat-window" id="chat_window_1" style="margin-left:10px;">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div id="msg_container" class="panel-body msg_container_base">

                    <div th:each="message, iterStat : ${messages}" class="row msg_container base_sent">
                        <div class="col-xs-8">
                            <div th:class="${message.getAuthor().getUserID() == vk_user_id} ? 'msg_sent' : 'msg_receive'" class="messages">
                                <p th:text="${message.message}"></p>
                                <time th:text="${message.getDateFormatted()}"></time>
                            </div>
                        </div>
                        <div class="row col-md-4 avatar">
                            <a th:href="${message.getAuthor().getPageURL()}">
                                <img th:src="${message.getAuthor().getPhotoURL()}" class="img-circle"/>
                                <span th:text="${message.getAuthor().getName() + ' ' + message.getAuthor().getLastName()}"></span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="messageInput" type="text" class="form-control input-sm chat_input"
                               placeholder="Write your message here..."/>
                        <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" id="sendMessageButton">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>